{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<center>
<h1 style=" font-size: 48px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}


<form class="login form-horizontal" style="width: 400px;" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="id_login">Username</label>
    <div class="col-sm-10">
      <input autofocus="autofocus" class="form-control" id="id_login" maxlength="150" name="login" placeholder="Username" type="text" required />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="id_password">Password</label>
    <div class="col-sm-10">
      <input id="id_password" class="form-control" name="password" placeholder="Password" type="password" required />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <label for="id_remember">Remember Me:</label>
      <input id="id_remember" name="remember" type="checkbox" />
    </div>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <br>
  <button class="primaryAction btn btn-default" type="submit">{% trans "Sign In" %}</button>
</form>


</center>

{% endblock %}
