{% extends "tutorial/tutorial_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h2> Ko </h2>

<a href="/journey/tutorial/5">
  <p id = "text"> Previous step </p>
</a>

</div>

{% endblock %}
