{% extends "tutorial/tutorial_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h2> Illegal Moves </h2>

<p> Currently under construction! </p>

</div>

{% endblock %}
