{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<center>
<h1>Settings</h1>


<h3> Username: {{ user.username }} </h3>

<br>

<p><a class="btn btn-default" href="/account/password/change/">Change Password</a></p>

<br>

<p><a class="btn btn-default" href="/account/email/">Change Email</a></p>
</center>

{% endblock %}
